<!DOCTYPE html>

<html lang="en">

<head>
  <title>Home</title>
  <%- include('../partials/global/head.ejs'); %> 
</head>
<body>
  <header>
    <%- include('../partials/global/nav.ejs'); %>
  </header>      
    <div class="spacer"></div>
    <main id="app" class="container">
      <h2 id="upload-form-header">File Upload</h2>
      <%- include('../partials/index/upload.ejs'); %>
      <div class="spacer"></div>
    </main>  
  <%- include('../partials/scripts/imports.ejs') %>
  <%- include('../partials/scripts/clock.ejs') %>
  <script type="module" src="/src/main.js"></script>
</body>
</html>