<!DOCTYPE html>

<html lang="en">
<head>
  <title>Sign In</title>
  <%- include('../partials/global/head.ejs'); %> 
</head>
<body>
  <header>
    <%- include('../partials/global/nav.ejs'); %>
  </header>
  <main id="app" class="container">
    <h2 id="info-heading">Search Files</h2>
    <%- include('../partials/search/bar.ejs'); %>      

    
  </main>
  <%- include('../partials/scripts/imports.ejs') %>
  <%- include('../partials/scripts/clock.ejs') %>
</body>
</html>